html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background-image: url(https://media1.tenor.com/m/XGL1pPzAZykAAAAC/purple-star.gif);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

#scrn {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  top: ;
}

#logo {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: -175px;
}

#btnstrt, #btnstudio {
  position: relative;
  z-index: 1000;
  top: 200px;
  height: auto;
  width: 370px;
}


#btnstrt {
left: -75px;}

#btnstudio {
  right: -75px;
}

#btnstrt:hover, #btnstudio:hover{
  filter: brightness(80%);
}

#top {
  position: absolute;
  top: -10px;
  z-index: 1000;
  font-style: ArcadeAlternate;
}