#music-controls {
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust positioning as needed */
}

/* Style the button as you wish */
#musicButton {
  background-color: lightpink;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}