html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background-image: url(https://i.bandori.party/u/c/art/a/4905Eve-Wakamiya-Pure-Filled-With-Gratitude-and-Joy-UYQS0P.png);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

#scrn {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  top: ;
}

#btnback1, #btnstudio {
  position: position: relative;
  z-index: 1000;
  top: 100px;
height: auto;
  width: 150px;
}