html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background-image: url(https://i.pinimg.com/originals/e4/d2/22/e4d2222cf3020df21eadf6af0a16d6b2.gif);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

#scrn {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  top: ;
}

#logo {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: -175px;
}

#btnstrt, #btnstudio {
  position: relative;
  z-index: 1000;
  top: 200px;
  height: auto;
  width: 370px;
}


#btnstrt {
left: -75px;}

#btnstudio {
  right: -75px;
}

#btnstrt:hover, #btnstudio:hover{
  filter: brightness(80%);
}

@font-face{
  font-family:arcadealternate;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/ArcadeAlternate.ttf?v=1735290960853);
}

#top {
  position: absolute;
  top: -10px;
  z-index: 1000;
  font-family: arcadealternate;
  color: #824ced;
}