html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
     overflow-x: hidden;
  overflow-y:hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.bandori.party/u/c/art/a/4905Eve-Wakamiya-Pure-Filled-With-Gratitude-and-Joy-UYQS0P.png");
background-repeat: no-repeat;
  background-size: cover;
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction:column;
}


#scrn {
  position: absolute;
  display: block;
  margin: 0;
  height: auto;
  width: 1315px;
  margin-left: auto;
  margin-right: auto;
  flex:1;
}


#btnback1, #btnstudio {
  position: absolute;
  z-index: 1000;
  top: 500px;
height: auto;
  width: 180px;
  filter: drop-shadow(20px 10px 0px black);
}

#btnback1 {
  left: 10px;
}

#btnstudio {
  right: 30px;
}

#btnback1:hover, #btnstudio:hover{
  filter: brightness(80%);
}

@font-face{
  font-family:arcadealternate;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/ArcadeAlternate.ttf?v=1735290960853);
}

#top {
  position: absolute;
  top: -2px;
  z-index: 1000;
  font-family: arcadealternate;
  color: #824ced;
}

@font-face {
  font-family: plank;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/PLANK___.TTF?v=1735298004662)
}

#title {
  z-index: 1000;
  position: absolute;
  font-family: plank;
  color: #b999fa;
  -webkit-text-stroke: 0.5px #814beb;
  font-size: 80px;
  top: 40px;
  right: 280px;
}

#caption {
  position: absolute;
  z-index:1000;
  font-family: arcadealternate;
  font-size: 25px;
  top: 80px;
  right: 280px;
  color: #F862FF;
}

#hrtlndecor {
  z-index: 1000;
  height: auto;
  width: 400px;
  position: absolute;
  top: 40px;
  right: 330px;
}

footer {
  z-index:1000;
  color:#824ced;
  margin-top:auto;
  padding: 10px;
  background-color: white;
  position:absolute;
  bottom:0;
  right: 0;
  left: 0;
  width: 100%;
  text-align:center;
  font-family: arcadealternate;
  font-size: 11px;
}

#bgimg {
   width: 100%;
  height: 100%;
  object-fit: cover;  
  position: absolute; 
  top: 0;
  left: 0;
  flex:1;
}