html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
     overflow-x: hidden;
  overflow-y:hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.bandori.party/u/c/art/a/4905Eve-Wakamiya-Pure-Filled-With-Gratitude-and-Joy-UYQS0P.png");
background-repeat: no-repeat;
  background-size: cover;
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction:column;
}

@font-face{
  font-family:arcadealternate;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/ArcadeAlternate.ttf?v=1735290960853);
}

@font-face {
  font-family: plank;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/PLANK___.TTF?v=1735298004662)
}

footer {
  z-index:1000;
  color:#824ced;
  margin-top:auto;
  padding: 10px;
  background-color: white;
  position:absolute;
  bottom:0;
  right: 0;
  left: 0;
  width: 100%;
  text-align:center;
  font-family: arcadealternate;
  font-size: 11px;
}


#homepage {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
 width: 1350px;
  height: 759px;
  margin: 0;
}

#scrn {
   grid-column: 1;
  grid-row: 1;
   max-width: 1350px;
  max-height: 759px;
  display: block;
  height: 100%;
  margin: 0;
}

#scrn, #logo, #top{
 grid-column: 1;
  grid-row: 1;
}

#logo {
  z-index: 999;
  position: relative;
  max-width: 1350px;
  max-height: 759px;
  position: relative;
width: auto;
  height: 700px;
  margin: auto;
  bottom: 20%;
}


#btnback1:hover, #btnstudio:hover{
  filter: brightness(80%);
  cursor: pointer;
}

#top {
  font-family: arcadealternate;
  color: white;
  z-index: 1000;
  margin: auto;
  position: relative;
  bottom: 45%;
}


#title {
  z-index: 1000;
  position: absolute;
  font-family: plank;
  color: #b999fa;
  -webkit-text-stroke: 0.5px #814beb;
  font-size: 80px;
  top: 40px;
  right: 180px;
}

#caption {
  position: absolute;
  z-index:1000;
  font-family: arcadealternate;
  font-size: 25px;
  top: 80px;
  right: 185px;
  color: #F862FF;
}

#hrtlndecor {
  z-index: 1000;
  height: auto;
  width: 400px;
  position: absolute;
  top: 40px;
  right: 220px;
}

#nav {
  z-index: 1000;
  display: grid;
}

#btnback1, #btnstudio {
  max-width: 500px;
  max-height: 500px;
  width: 200px;
  height: auto;
  grid-row: 1;
  position: relative;
  top: 100%;
}

#btnback1 {
  padding-right: 1100px;
}