html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
     overflow-x: hidden;
  overflow-y:hidden;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.bandori.party/u/c/art/a/4905Eve-Wakamiya-Pure-Filled-With-Gratitude-and-Joy-UYQS0P.png");
background-repeat: no-repeat;
  background-size: cover;
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction:column;
}

#btnback1 {
  position: relative;
  top: 110%;
  padding-right: 1300px;
}

#btnback1:hover {
  filter: brightness(80%);
  cursor: pointer;
}

@font-face{
  font-family:arcadealternate;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/ArcadeAlternate.ttf?v=1735290960853);
}

@font-face {
  font-family: plank;
  src: url(https://cdn.glitch.global/3b0c555a-66e1-432a-baca-4bf522e55a01/PLANK___.TTF?v=1735298004662)
}

#title {
  z-index: 1000;
  position: relative;
  bottom: 300%;
  left: 62%;
  font-family: plank;
  color: #b999fa;
  -webkit-text-stroke: 0.5px #814beb;
  font-size: 80px;
  
}

#caption {
  position: absolute;
  z-index:1000;
  font-family: arcadealternate;
  font-size: 25px;
  top: 8.5%;
  right: 15%;
  color: #F862FF;
}

#hrtlndecor {
  z-index: 1000;
  height: auto;
  width: 400px;
  position: absolute;
  top: 8%;
  right: 13%;
}

#dialoguebox {
z-index: 999;
  position: relative;
  height: auto;
  width: 1200px;
  bottom: 135%;
  margin: auto;
}

#dialogue {
  z-index: 999;
}

#name {
  z-index: 999;
  position: absolute;
  font-size: 55px;
  font-family: arcadealternate;
  top: 389px;
  left: 450px;
  color: #ad8cff;
}

#dialogue {
  z-index: 999;
  position: absolute;
  font-size: 35px;
  font-family: arcadealternate;
 margin: auto;
  color: #ad8cff;
}

#changename, #changebackground {
  font-family: arcadealternate;
  color: white;
  font-size: 30px;
}

#changedialogue {
   z-index: 1000;
  font-family: arcadealternate;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 375px;
    right: 300px;
}

#hideshow, #showhide{
   z-index: 1000;
  font-size: 60px;
   position: relative;
  bottom: 870%;
    left: 13%;
  font-family: arcadealternate;
  color:white;
  padding-bottom: 10px;
}

#changename {
  z-index: 1000;
   position: relative;
  bottom: 1730px;
    left: 13%;
}

#changebackground {
  z-index: 1000;
   position: relative;
  bottom: 1770px;
    left: 13%;
}

#showhide {
   z-index: 1000;
  font-size: 60px;
   position: absolute;
  top: 10%
    left: 50%;
  font-family: arcadealternate;
  color:white;
  display:none;
}

#changename:hover, #changebackground:hover, #changedialogue:hover, #hideshow:hover, #showhide:hover{
  filter: brightness(80%);
  cursor: pointer;
}

#dialogueinput {
  z-index: 1000;
  width: 250px;
  height: 50px;
   position: absolute;
  top: 350px;
    right: 325px;
}

footer {
  z-index:1000;
  color:#824ced;
  margin-top:auto;
  padding: 10px;
  background-color: white;
  position:absolute;
  bottom:0;
  right: 0;
  left: 0;
  width: 100%;
  text-align:center;
  font-family: arcadealternate;
  font-size: 11px;
}




#homepage {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
 width: 1350px;
  height: 759px;
  margin: 0;
}

#scrn {
   grid-column: 1;
  grid-row: 1;
   max-width: 1350px;
  max-height: 759px;
  display: block;
  height: 100%;
  margin: auto;
}

#scrn, #logo, #top{
 grid-column: 1;
  grid-row: 1;
}

#btnback1:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#top {
  font-family: arcadealternate;
  color: white;
  z-index: 1000;
  margin: auto;
  position: relative;
  bottom: 45%;
}

#btnback1 {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  z-index: 1006;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 10%;
}

#btnback {
  position: relative;
  bottom: 2.7%;
}